.headercurso2{
  height: 350px;
  background-color: #FF615E ;
  margin-top: 22px;
}
.headercurso2 h6 {
  padding-top: 270px;
  font-size: 1.7em;
  text-align: center;
  color: #fff;
}
.contenedorcurso2{
  margin-bottom: 30px;
}
.contenedorcurso2 h3{
  font-size: 1.7em;
  font-weight: bold;
  color: #10116b;
  text-align: center;
}
.contenedorcurso2 p{
  font-size: 1.3em;
  text-align: center;
  padding: 5px;
}
.contenedorcurso2 h4{
  font-size: 1.6em;
  color: #FF615E;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.curso1 {
  padding-left: 10px;
  padding-right: 10px;
}
.cuadcurso{
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.cuadcurso .cursoder {
padding: 0;
margin-left: -2%;
}
.cuadcurso .cursoder h4{
  font-size: 1.3em;
  width: 100%;
  margin-top: -5px;
  font-weight: bold;
  color: #10116b;
  margin-bottom: -10px;
}
.cuadcurso .cursoder p {
  font-size: 1.2em;
}
.cuadcurso .cursoder h5{
  text-align: right;
  color: #3FCBD1;
}
.cuadcurso .cursoizq{
  padding: 0;
}
.cuadcurso .cursoizq img {
  width: 90%;
  height: 155px;
}
.curso2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.noticurso h4{
color: #10116b;
margin-bottom: -10px;
}
.noticurso p{
  font-size: 1.3em;
}
.cncurso {
  border: 1px solid black;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.3);
}
.noticurso a{
  color: #3FCBD1 !important;
  margin-left: 76% !important;
  font-size: 1.4em;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 20px;
}
.contenedorcurso2 a {
  text-decoration: none;
  font-size: 1.6em;
  color:  #FF615E ;
  margin-left: 15%;
  font-weight: bold;
}
@media(min-width:480px){
  .headercurso2 {
    height: 450px;
  }
  .headercurso2 h6 {
    font-size: 2.5em;
    text-align: left;
    margin-left: 13%;
    padding-bottom: 40px;
    font-weight: 200;
  }
 .contenedorcurso2 {
   width: 80%;
   margin-left: 10%;
 }
 .contenedorcurso2 h3 {
   text-align: left;
   font-size:2em;
   width: 40%;
   margin-left: 3%;
   margin-top: 40px;
   margin-bottom: 20px;
 }
 .contenedorcurso2 p{
   text-align: left;
   margin-left: 3%;
   font-size: 1.1em;
 }
 .contenedorcurso2 h4{
   text-align: left;
   margin-left: 3%;
   font-size: 2em;
 }
 .curso1{
   margin-top: 10px;
   margin-bottom: 60px;
 }
 .cuadcurso{
   padding-left: 0;
   padding-right: 0;
   margin-left: 4%;
 }
 .cuadcurso .cursoizq img{
   height: 125px;
   width: 80%;
 }
 .cuadcurso .cursoder h4{
   font-weight: 500;
 }
 .cuadcurso .cursoder p {
   font-size: .9em;
 }
  .curso2 {
    margin: 0;
  }
  .noticurso {
    margin-bottom: 20px;
  }
  .noticurso h4 {
    font-size: 1.4em !important;
    margin-left: 0;
  }
  .noticurso p {
  margin-left: 0;
  font-size: .9em;
  }
  .noticurso a {
    font-size: 1.2em;
    font-weight: lighter;
    margin-left: 80% !important;
  }
  .contenedorcurso2 a{
    margin-left: 40%;

  }
}
